Repository softeerbootcamp4th/Team2-TiramisuCake-FE, pull requests merged in 2024-07, with the labels that each got.

#3 중첩 라우팅
  src/App.tsx
  src/main.tsx
  src/router.tsx
Labels: FE

#12 [Feat] 디자인 시스템 구축
  admin/.eslintrc.cjs
  service/.eslintrc.cjs
  service/public/fonts/Montserrat-VariableFont_wght.ttf
  service/public/fonts/Pretendard-Regular.ttf
  service/src/App.tsx
  service/src/index.css
  service/src/pages/CommentsLoungePage.tsx
  service/src/router.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX, Service

#13 Feat/9
  service/public/CarImage.png
  service/public/Close.svg
  service/public/Lightmode.svg
  service/public/floatingButton.svg
  service/public/image 113.svg
  service/public/image 145.svg
  service/public/image 147.svg
  service/public/image158.png
  service/src/App.tsx
  service/src/components/common/CarThumbnail/CarThumbnail.tsx
  service/src/components/common/EventModal/EventModal.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Footer/Footer.tsx
  service/src/components/common/Header/Header.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/router.tsx
Labels: FE, Feat, UI/UX, Service

#14 [Feat] 공통 컴포넌트 작업
  service/.eslintrc.cjs
  service/.prettierrc
  service/.vscode/extensions.json
  service/.vscode/settings.json
  service/.yarn/.vite/deps/_metadata.json
  service/.yarn/.vite/deps/chunk-5WRI5ZAA.js
  service/.yarn/.vite/deps/chunk-5WRI5ZAA.js.map
  service/.yarn/.vite/deps/chunk-DVO5YGY6.js
  service/.yarn/.vite/deps/chunk-DVO5YGY6.js.map
  service/.yarn/.vite/deps/chunk-OAUDMIWW.js
  service/.yarn/.vite/deps/chunk-OAUDMIWW.js.map
  service/.yarn/.vite/deps/lodash.js
  service/.yarn/.vite/deps/lodash.js.map
  service/.yarn/.vite/deps/react-dom_client.js
  service/.yarn/.vite/deps/react-dom_client.js.map
  service/.yarn/.vite/deps/react-router-dom.js
  service/.yarn/.vite/deps/react-router-dom.js.map
  service/.yarn/.vite/deps/react.js
  service/.yarn/.vite/deps/react_jsx-dev-runtime.js
  service/.yarn/.vite/deps/react_jsx-dev-runtime.js.map
  service/.yarn/.vite/deps/react_jsx-runtime.js
  service/.yarn/.vite/deps/react_jsx-runtime.js.map
  service/.yarn/install-state.gz
  service/.yarn/sdks/eslint/package.json
  service/.yarn/sdks/prettier/bin/prettier.cjs
  service/.yarn/sdks/prettier/index.cjs
  service/.yarn/sdks/prettier/package.json
  service/package.json
  service/public/svg/arrow-black-large.svg
  service/public/svg/arrow-white-large.svg
  service/public/svg/arrow-white-small.svg
  service/public/svg/check-off.svg
  service/public/svg/check-on.svg
  service/public/svg/close.svg
  service/public/svg/copy-gray.svg
  service/public/svg/copy-white.svg
  service/public/svg/error.svg
  service/public/svg/full.svg
  service/public/svg/play.svg
  service/public/svg/sound-off.svg
  service/public/svg/sound-on.svg
  service/public/svg/stop.svg
  service/src/App.tsx
  service/src/components/CarDetail/CarDetail.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Comment/Comment.tsx
  service/src/components/common/Input/Input.tsx
  service/src/components/common/a copy.ts
  service/src/components/common/a.ts
  service/src/constants/lib/constants.ts
  service/src/index.css
  service/src/main.tsx
  service/src/pages/CommentsLoungePage.tsx
  service/src/router.tsx
  service/src/utils/lib/utils.ts
  service/tailwind.config.js
  service/vite.config.ts
  service/yarn.lock
Labels: FE, Feat, UI/UX, Service

#15 [Feat] 메인페이지 이벤트 섹션 구현
  service/public/CarSection.png
  service/public/Rending.png
  service/public/image 145.svg
  service/public/image 162.png
  service/public/image 163.png
  service/public/svg/Close.svg
  service/public/svg/Hyundai-footer-logo.svg
  service/public/svg/HyundaiLogo.svg
  service/public/svg/Lightmode.svg
  service/public/svg/downarrow.svg
  service/public/svg/floatingButton.svg
  service/public/svg/ipad.svg
  service/public/svg/money.svg
  service/public/svg/렌트권.svg
  service/public/svg/할인쿠폰.svg
  service/src/components/MainPage/CarInfoSection.tsx
  service/src/components/MainPage/EventInfoCard/EventInfoCard.tsx
  service/src/components/MainPage/EventSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/Badge/Badge.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Header/Header.tsx
  service/src/pages/MainPage.tsx
  service/src/router.tsx
  service/src/types/a.ts
  service/src/types/eventInfoItem.ts
  service/src/utils/splitSentence.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX, Service

#18 [Feat : 커스텀 비디오 플레이어 구현]
  service/public/Close.svg
  service/public/newIONIQ.mp4
  service/public/svg/sound-off-icon.svg
  service/public/svg/sound-on-icon.svg
  service/src/App.tsx
  service/src/components/main/VideoPlayer.tsx
  service/src/router.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX
