Repository softeerbootcamp4th/Team2-TiramisuCake-FE, pull requests merged in 2024-08, with the labels that each got.

#25 [Feat] 미당첨 모달 구현
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX, Service

#26 [Feat] 미당첨 모달, 로그인 모달 구현
  service/.yarn/.vite/deps/_metadata.json
  service/public/svg/downarrow.svg
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/EventInfoCard/EventInfoCard.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Input/Input.tsx
  service/src/pages/MainPage.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX, Service

#32 [Fix] 차량 상세 섹션 이미지 깜빡임 수정
  service/public/bg1.svg
  service/public/bg2.svg
  service/public/svg/bg2.svg
  service/public/svg/bg3.svg
  service/public/svg/bg4.svg
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/CarouselBg.tsx
  service/tailwind.config.js
Labels: FE, Bug, UI/UX, Service

#34 [Feat] 로그인 후 ui, 전역 상태관리 구현
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/EventInfoCard/EventInfoCard.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/EventModal/EventModal.tsx
  service/src/components/common/Input/Input.tsx
  service/src/main.tsx
  service/src/router.tsx
  service/src/store/context/useLoginContext.tsx
  service/src/store/provider/LoginProvider.tsx
  service/src/utils/checkPhoneNumber.tsx
Labels: FE, Feat, UI/UX, Service

#35 기대평 페이지 구현
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/Comment/Comment.tsx
  service/src/index.css
  service/src/pages/CommentsLoungePage.tsx
  service/src/router.tsx
  service/src/store/context/useLoginContext.tsx
  service/tailwind.config.js
Labels: FE, Feat, UI/UX, Service

#44 [Feat] 차량 캐러셀 슬라이더 중앙 정렬
  admin/src/router.tsx
  service/public/softeer (1).json
  service/src/components/MainPage/CarInfoSection/Carousel.css
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/CarouselBar.tsx
  service/src/components/MainPage/CarInfoSection/CarouselBg.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/CarDetail/CarDetail.tsx
  service/tailwind.config.js
Labels: FE, Feat, Refactor, UI/UX, Service

#45 [Feat] admin 레이아웃, 헤더 구현
  admin/.gitignore
  admin/.prettierrc
  admin/.vscode/extensions.json
  admin/.vscode/settings.json
  admin/.yarn/sdks/eslint/bin/eslint.js
  admin/.yarn/sdks/eslint/lib/api.js
  admin/.yarn/sdks/eslint/lib/unsupported-api.js
  admin/.yarn/sdks/eslint/package.json
  admin/.yarn/sdks/integrations.yml
  admin/.yarn/sdks/typescript/bin/tsc
  admin/.yarn/sdks/typescript/bin/tsserver
  admin/.yarn/sdks/typescript/lib/tsc.js
  admin/.yarn/sdks/typescript/lib/tsserver.js
  admin/.yarn/sdks/typescript/lib/tsserverlibrary.js
  admin/.yarn/sdks/typescript/lib/typescript.js
  admin/.yarn/sdks/typescript/package.json
  admin/package.json
  admin/public/svg/logo.svg
  admin/src/App.tsx
  admin/src/components/common/Header.tsx
  admin/src/lib/constants.ts
  admin/src/pages/EventManagementPage.tsx
  admin/src/pages/EventMetricsPage.tsx
  admin/src/pages/LoginPage.tsx
  admin/src/pages/MainPage.tsx
  admin/src/pages/WinManagementPage.tsx
  admin/src/pages/a.ts
  admin/src/router.tsx
  admin/src/store/context/a.ts
  admin/src/store/context/useUserContext.tsx
  admin/src/store/provider/UserContextProvider.tsx
  admin/src/store/provider/a.ts
  admin/src/store/reducer/a.ts
  admin/src/store/reducer/userReducer.ts
  admin/src/store/types/a.ts
  admin/src/store/types/userTypes.ts
  admin/yarn.lock
Labels: FE, Feat, UI/UX, Admin

#46 [Feat] 어드민 로그인 페이지 구현
  admin/public/svg/close.svg
  admin/src/App.tsx
  admin/src/components/ui/input.tsx
  admin/src/pages/LoginPage.tsx
  admin/src/router.tsx
  admin/src/utils/getValidation.ts
Labels: FE, Feat, UI/UX, Admin

#48 [Feat] 모달 컴포넌트 구현
  admin/src/components/common/Modal.tsx
  admin/tailwind.config.js
Labels: FE, Feat, UI/UX, Admin

#49 [Feat] 어드민 메인 페이지 구현
  admin/public/svg/navigate_next2.svg
  admin/src/components/common/Button/EditButton.tsx
  admin/src/components/common/List/ListContainer.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/common/List/list.tsx
  admin/src/components/common/ManageContainer.tsx
  admin/src/pages/MainPage.tsx
Labels: FE, Feat, UI/UX, Admin

#50 [Feat] 당첨자 관리 페이지 구현
  admin/.yarn/install-state.gz
  admin/src/components/WinManagement/FCFSWinnerList.tsx
  admin/src/components/WinManagement/FCFSWinnerListModal.tsx
  admin/src/components/WinManagement/NumberOfWinnersModal.tsx
  admin/src/components/WinManagement/RaffleWinnerList.tsx
  admin/src/components/WinManagement/RaffleWinnerListModal.tsx
  admin/src/components/WinManagement/WinnersProbabilitiesModal.tsx
  admin/src/components/common/Container/SetFCFSWinnerContainer.tsx
  admin/src/components/common/Container/SetRaffleWinnerContainer.tsx
  admin/src/components/common/Container/WinnersListContainer.tsx
  admin/src/components/common/ErrorMessage.tsx
  admin/src/components/common/Header.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/common/Modal.tsx
  admin/src/components/ui/button.tsx
  admin/src/lib/constants.ts
  admin/src/pages/MainPage.tsx
  admin/src/pages/WinManagementPage.tsx
  admin/src/utils/getValidation.ts
Labels: FE, Feat, UI/UX, Admin

#51 [Feat] admin 이벤트 관리 페이지 구현
  admin/package.json
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/components/common/List/ListContainer.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/common/List/list.tsx
  admin/src/components/common/ManageContainer.tsx
  admin/src/components/common/Modal.tsx
  admin/src/components/section/EventManagement.tsx
  admin/src/components/ui/calendar.tsx
  admin/src/components/ui/datetime-picker.tsx
  admin/src/components/ui/popover.tsx
  admin/src/components/ui/select.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/pages/MainPage.tsx
  admin/yarn.lock
Labels: FE, Feat, UI/UX, Admin

#52 [Feat] 이벤트 지표 레이아웃, 도넛 차트 구현
  admin/.yarn/install-state.gz
  admin/src/App.tsx
  admin/src/components/WinManagement/FCFSWinnerList.tsx
  admin/src/components/WinManagement/InputField.tsx
  admin/src/components/WinManagement/NumberOfWinnersModal.tsx
  admin/src/components/WinManagement/RaffleWinnerList.tsx
  admin/src/components/WinManagement/WinnersProbabilitiesModal.tsx
  admin/src/components/common/Container/SetFCFSWinnerContainer.tsx
  admin/src/components/common/Container/SetRaffleWinnerContainer.tsx
  admin/src/components/common/Container/WinnersListContainer.tsx
  admin/src/components/common/ErrorMessage.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/ui/card.tsx
  admin/src/components/ui/donutChart.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/pages/EventMetricsPage.tsx
  admin/src/pages/MainPage.tsx
  admin/src/pages/WinManagementPage.tsx
  admin/yarn.lock
Labels: FE, Feat, Refactor, UI/UX, Admin

#54 [Feat] 어드민 지표 페이지 바 차트 구현
  admin/.yarnrc.yml
  admin/package.json
  admin/src/components/ui/Barchart.tsx
  admin/src/components/ui/calendar.tsx
  admin/src/components/ui/chart.tsx
  admin/src/components/ui/datetime-picker.tsx
  admin/src/pages/EventMetricsPage.tsx
  admin/tsconfig.json
  admin/vite.config.ts
Labels: FE, Feat, UI/UX, Admin

#62 [Feat] react query 간단한 세팅
  service/package.json
  service/src/constants/lib/constants.ts
  service/yarn.lock
Labels: FE, Config

#65 [Fix] 피드백 반영 후 수정
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/ui/Barchart.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/pages/EventMetricsPage.tsx
  admin/src/pages/WinManagementPage.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Badge/Badge.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Footer/Footer.tsx
  service/src/hooks/MainPage/useScrollControl.ts
  service/src/pages/LotteryLounge.tsx
  service/src/pages/MainPage.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, Config, UI/UX, Admin, Service

#72 [Feat] framer 모션 추가 및 페이지 이탈 시 모달 구현
  service/src/components/MainPage/CarInfoSection/Carousel.css
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/CarouselBg.tsx
  service/src/components/MainPage/CarInfoSection/Header.tsx
  service/src/components/MainPage/CarInfoSection/Swiper.css
  service/src/components/MainPage/CarInfoSection/SwiperContainer.tsx
  service/src/components/MainPage/EventSection/EventInfoCard/EventInfoCard.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/QuizLounge/QuizTitle.tsx
  service/src/components/common/Badge/Badge.tsx
  service/src/components/common/Bouncing/Bouncing.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/CarDetail/CarDetail.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/constants/animation.ts
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, Refactor, UI/UX, Service

#71 [Feat] 로그인 api 연동
  service/.gitignore
  service/package.json
  service/public/svg/98739.svg
  service/public/svg/경고.svg
  service/src/App.tsx
  service/src/apis/a.ts
  service/src/apis/authorization.ts
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.css
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Header/Header.tsx
  service/src/components/common/Input/Input.tsx
  service/src/hooks/useFetch.ts
  service/src/hooks/useLoginModalDispatchContext.ts
  service/src/hooks/useLoginModalStateContext.ts
  service/src/pages/CommentsLoungePage.tsx
  service/src/store/context/loginModalContext.tsx
  service/src/store/reducer/loginModalReducer.tsx
  service/src/store/types/loginModalTypes.ts
  service/src/types/Authorization/request.ts
  service/src/types/Authorization/response.ts
  service/src/types/apiType.ts
  service/src/utils/checkAuthCode.ts
  service/src/utils/checkPhoneNumber.ts
  service/vite.config.ts
  service/yarn.lock
Labels: FE, Feat, Service

#76 [Feat] 메인페이지 자동차 상세 정보 API 연동
  service/package.json
  service/src/apis/main/api.ts
  service/src/apis/main/query.ts
  service/src/components/MainPage/CarInfoSection/CarDetailInfo.tsx
  service/src/components/MainPage/CarInfoSection/CarInfoSection.tsx
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/Header.tsx
  service/src/components/common/CarDetail/CarDetail.tsx
  service/src/components/common/Header/Header.tsx
  service/src/main.tsx
  service/src/types/main/carInfoType.ts
  service/yarn.lock
Labels: FE, Feat, Service

#78 [Feat] 어드민 로그인 API 연동
  admin/.gitignore
  admin/package.json
  admin/src/App.tsx
  admin/src/apis/a.ts
  admin/src/apis/login/api.tsx
  admin/src/apis/login/query.ts
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/common/Header.tsx
  admin/src/components/common/ProtectedRoute.tsx
  admin/src/constants/api.ts
  admin/src/main.tsx
  admin/src/pages/LoginPage.tsx
  admin/src/router.tsx
  admin/src/store/context/useUserContext.tsx
  admin/src/store/provider/UserContextProvider.tsx
  admin/src/store/reducer/userReducer.ts
  admin/src/store/types/userTypes.ts
  admin/yarn.lock
Labels: FE, Feat, Admin

#79 [Feat] 메인 페이지 이벤트 api 연동
  service/package.json
  service/src/apis/authorization.ts
  service/src/apis/eventInfo.ts
  service/src/apis/main/query.ts
  service/src/components/MainPage/EventSection/EventInfoCard/EventInfoCard.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Input/Input.tsx
  service/src/main.tsx
  service/src/pages/MainPage.tsx
  service/src/store/context/loginModalContext.tsx
  service/src/store/context/useEventDateContext.tsx
  service/src/store/provider/EventDateProvider.tsx
  service/src/store/provider/LoginProvider.tsx
  service/src/types/eventInfoItem.ts
  service/src/types/main/eventInfoType.ts
  service/src/utils/getWeekDay.ts
  service/yarn.lock
Labels: FE, Feat, Service

#82 [Feat] 어드민 메인 페이지 api 연동
  admin/src/apis/main/api.ts
  admin/src/apis/main/query.ts
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/components/common/Container/SetFCFSWinnerContainer.tsx
  admin/src/components/common/Container/SetRaffleWinnerContainer.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/common/List/list.tsx
  admin/src/components/section/EventManagement.tsx
  admin/src/constants/a.ts
  admin/src/constants/api.ts
  admin/src/types/a.ts
  admin/src/utils/a.ts
  admin/src/utils/getWeekDay.ts
  service/.yarn/.vite/deps/_metadata.json
  service/src/apis/authorization.ts
  service/src/apis/main/api.ts
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/constants/lib/constants.ts
Labels: FE, Feat, Service

#84 [Feat] 어드민 당첨 페이지 API 구현
  admin/src/apis/login/api.ts
  admin/src/apis/login/api.tsx
  admin/src/apis/login/query.ts
  admin/src/apis/main/api.ts
  admin/src/apis/main/query.ts
  admin/src/apis/winManagement/api.ts
  admin/src/apis/winManagement/query.ts
  admin/src/components/WinManagement/FCFSWinnerList.tsx
  admin/src/components/WinManagement/FCFSWinnerListModal.tsx
  admin/src/components/WinManagement/InputField.tsx
  admin/src/components/WinManagement/NumberOfWinnersModal.tsx
  admin/src/components/WinManagement/RaffleWinnerList.tsx
  admin/src/components/WinManagement/RaffleWinnerListModal.tsx
  admin/src/components/WinManagement/WinnersProbabilitiesModal.tsx
  admin/src/components/common/Container/SetFCFSWinnerContainer.tsx
  admin/src/components/common/Container/SetRaffleWinnerContainer.tsx
  admin/src/components/common/Header.tsx
  admin/src/components/common/List/WinnerList.tsx
  admin/src/components/common/List/list.tsx
  admin/src/components/common/Modal.tsx
  admin/src/components/common/ProtectedRoute.tsx
  admin/src/components/section/EventManagement.tsx
  admin/src/components/section/WinnerManagement.tsx
  admin/src/constants/api.ts
  admin/src/pages/LoginPage.tsx
  admin/src/pages/MainPage.tsx
  admin/src/pages/WinManagementPage.tsx
  admin/src/type/login/type.ts
  admin/src/type/main/type.ts
  admin/src/type/winManagement/type.ts
  admin/src/utils/cookie.ts
Labels: FE, Feat, Admin

#89 [Fix]: header 수정
  admin/src/apis/winManagement/api.ts
Labels: FE, Admin

#93 [Fix] 헤더 사라지는 오류 수정
  service/src/components/common/Header/Header.tsx
  service/src/pages/CommentsLoungePage.tsx
Labels: Bug, Admin

#96 [Feat] confetti 라이브러리 추가 및 구현
  service/package.json
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/hooks/QuizLounge/useInitialArrays.tsx
  service/src/pages/QuizLoungePage.tsx
  service/src/utils/confettiCrafter.ts
  service/yarn.lock
Labels: FE, Feat

#97 [Refactor] 이벤트 모달 커스텀 훅 분리
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/hooks/useFcFsRequest.tsx
  admin/src/hooks/useRaffleRequest.tsx
Labels: FE, Refactor, Admin

#99 [Feat] 이미지 webp 변경
  service/.yarn/.vite/deps/_metadata.json
  service/index.html
  service/public/images/draw_bg.webp
  service/public/images/event_section_bg.webp
  service/public/images/fcfs_bg.webp
  service/public/images/sad.png
  service/public/vite.svg
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, UI/UX

#101 [Feat] 로그인 커스텀 훅 생성 및 적용
  service/src/apis/login/api.ts
  service/src/apis/login/query.ts
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
Labels: FE, Feat, Service

#104 [Feat] 이벤트 지표 바차트 api 연동
  admin/src/apis/event/api.tsx
  admin/src/apis/event/query.tsx
  admin/src/apis/eventMetrics/api.tsx
  admin/src/apis/eventMetrics/query.tsx
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/components/ui/Barchart.tsx
  admin/src/hooks/useFcFsRequest.tsx
  admin/src/hooks/useRaffleRequest.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/type/eventManagement/eventType.ts
Labels: FE, Feat, Admin

#105 [8월 3주차] admin api 연동 및 배포
  admin/src/apis/event/api.tsx
  admin/src/apis/event/query.tsx
  admin/src/apis/eventMetrics/api.tsx
  admin/src/apis/eventMetrics/query.tsx
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/components/ui/Barchart.tsx
  admin/src/hooks/useFcFsRequest.tsx
  admin/src/hooks/useRaffleRequest.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/type/eventManagement/eventType.ts
Labels: FE, Feat

#109 [Feat] 공유 url api 연동
  service/src/apis/shareurl/api.ts
  service/src/apis/shareurl/query.ts
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/main.tsx
  service/src/store/context/useUrl.tsx
  service/src/store/provider/UrlProvider.tsx
  service/src/utils/cookie.ts
Labels: FE, Feat, Service

#110 [Feat] bg 이미지 url 변경
  service/public/images/draw_bg.webp
  service/public/images/event_section_bg.webp
  service/public/images/fcfs_bg.webp
  service/public/images/rending-bg.webp
  service/public/images/sad.png
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, Feat

#111 [8월 3주차] 배포
  service/public/images/draw_bg.webp
  service/public/images/event_section_bg.webp
  service/public/images/fcfs_bg.webp
  service/public/images/rending-bg.webp
  service/public/images/sad.png
  service/src/apis/shareurl/api.ts
  service/src/apis/shareurl/query.ts
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/main.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
  service/src/store/context/useUrl.tsx
  service/src/store/provider/UrlProvider.tsx
  service/src/utils/cookie.ts
Labels: FE

#115 [Feat] 선착순 이벤트 API 연동
  service/public/goal_2.gif
  service/src/apis/eventInfo.ts
  service/src/apis/login/api.ts
  service/src/apis/login/query.ts
  service/src/apis/main/api.ts
  service/src/apis/main/query.ts
  service/src/apis/quizLounge/api.ts
  service/src/apis/quizLounge/query.ts
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/components/QuizLounge/QuizFooter.tsx
  service/src/components/QuizLounge/QuizTitle.tsx
  service/src/components/QuizLounge/ResultModal.tsx
  service/src/components/QuizLounge/TutorialResultModal.tsx
  service/src/components/common/Modal/EventModal/EventModal.tsx
  service/src/constants/lib/constants.ts
  service/src/pages/QuizLoungePage.tsx
  service/src/types/quizLounge/type.ts
Labels: FE, Feat

#120 [Feat] 복권 긁기 api 연동
  service/public/gohwazil.webp
  service/src/apis/draw/api.ts
  service/src/apis/draw/query.ts
  service/src/apis/lottery.ts
  service/src/components/LotteryLounge/Attendance.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/index.css
  service/src/pages/LotteryLounge.tsx
  service/src/types/lottery/response.ts
Labels: FE, Feat, Service

#123 [Fix] 차량 상세보기 화면 포커스 시 이동 바가 보이는 문제 해결 & type 명시적 선언
  service/src/apis/draw/api.ts
  service/src/apis/lottery.ts
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/CarInfoSection/CarInfoSection.tsx
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/pages/LotteryLounge.tsx
  service/tailwind.config.js
Labels: FE, UI/UX, Service, Fix

#128 [Fix] cookies 값을 가져오지 못하는 오류 수정
  admin/src/apis/event/api.tsx
  admin/src/apis/event/query.tsx
  admin/src/apis/eventMetrics/api.tsx
  admin/src/apis/eventMetrics/query.tsx
  admin/src/apis/main/api.ts
  admin/src/apis/main/query.ts
  admin/src/apis/winManagement/api.ts
  admin/src/apis/winManagement/query.ts
  admin/src/components/WinManagement/InputField.tsx
  admin/src/components/WinManagement/NumberOfWinnersModal.tsx
  admin/src/components/WinManagement/WinnersProbabilitiesModal.tsx
  service/src/apis/draw/api.ts
  service/src/apis/quizLounge/api.ts
  service/src/apis/quizLounge/query.ts
  service/src/apis/shareurl/api.ts
Labels: FE, Bug

#129 [Feat] 에러 페이지 구현
  service/src/App.tsx
  service/src/components/ErrorPage/ErrorBoundaryPage.tsx
  service/src/components/ErrorPage/NotFoundPage.tsx
  service/src/main.tsx
  service/src/router.tsx
Labels: FE, Feat, Service

#130 [Feat] 공통 컴포넌트 - 로딩 페이지 구현
  service/public/svg/ioniq5_svg.png
  service/src/components/Loading/Loading.tsx
  service/src/components/MainPage/CarInfoSection/CarInfoSection.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, UI/UX, Service

#119 [Feat] 모달 렌더링 시 뒤에 배경 스크롤 막는 기능 구현
  service/src/apis/quizLounge/api.ts
  service/src/assets/react.svg
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/components/common/Modal/Modal.tsx
  service/src/hooks/common/useScrollLock.tsx
  service/src/hooks/useLoginModalDispatchContext.ts
  service/src/main.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
  service/src/store/context/loginModalContext.tsx
  service/src/store/context/useModalContext.tsx
  service/src/store/provider/ModalProvider.tsx
  service/src/store/reducer/modalReducer.tsx
  service/src/store/types/modalTypes.ts
Labels: FE, Feat

#131 [Feat] Protected Route 설정
  service/src/components/ErrorPage/UnauthorizedPage.tsx
  service/src/components/common/ProtectedRoute/ProtectedRoute.tsx
  service/src/router.tsx
Labels: FE, Feat, Service

#134 [Refactor] 동적/정적 이벤트 api 분리 및 연동
  service/src/apis/main/api.ts
  service/src/apis/main/query.ts
  service/src/components/MainPage/EventSection/EventSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/types/main/eventInfoType.ts
Labels: FE, Refactor, Service

#137 [Feat] 공유 url - code 추출
  service/src/apis/login/api.ts
  service/src/apis/login/query.ts
  service/src/constants/lib/constants.ts
  service/src/pages/ShareHandler.tsx
  service/src/router.tsx
Labels: FE, Feat, Service

#140 [Feat] 로그인 모달 커스텀 에러 적용 & queryClient에 에러 핸들러 적용
  service/src/apis/login/api.ts
  service/src/apis/login/query.ts
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/constants/error.ts
  service/src/hooks/useApiError.tsx
  service/src/main.tsx
  service/src/pages/ShareHandler.tsx
Labels: FE, Feat, Service

#143 [Fix] 사소한 변경사항
  service/src/App.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/main.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/MainPage.tsx
  service/src/pages/QuizLoungePage.tsx
  service/src/store/context/useEventDateContext.tsx
  service/src/store/provider/EventDateProvider.tsx
Labels: FE, Service, Fix

#145 [Fix] 헤더 활성화 탭 이슈 수정
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/common/Header/Header.tsx
  service/src/constants/lib/constants.ts
  service/src/hooks/MainPage/useScrollControl.ts
  service/src/hooks/MainPage/useSectionObserver.tsx
  service/src/pages/MainPage.tsx
  service/src/pages/WinngResultPage.tsx
  service/src/router.tsx
  service/src/utils/scrollToElementId.ts
Labels: FE, Bug

#146 [Fix] footer 스크롤 먹히는 이슈 수정
  service/src/App.tsx
  service/src/pages/MainPage.tsx
Labels: FE, Bug, Fix

#152 [Feat] 로그인 모달 최종 수정 & 로그인 탭 활성화
  service/src/apis/draw/api.ts
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Header/Header.tsx
  service/src/constants/error.ts
  service/src/constants/lib/constants.ts
  service/src/pages/LotteryLounge.tsx
  service/src/types/lottery/response.ts
Labels: FE, Feat, Service, Fix

#154 [Feat] 기대평 페이지 구현 및 API 연동
  service/.yarn/.vite/deps/_metadata.json
  service/index.html
  service/public/check.png
  service/public/empty_gift.png
  service/src/apis/draw/api.ts
  service/src/apis/login/api.ts
  service/src/apis/login/query.ts
  service/src/apis/main/query.ts
  service/src/apis/quizLounge/api.ts
  service/src/apis/quizLounge/query.ts
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/CarInfoSection/CarDetailInfo.tsx
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/CarouselBg.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/DrawInfoContainer.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventIntroductionSection/FcfsInfoContainer.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/QuizLounge/TutorialResultModal.tsx
  service/src/hooks/MainPage/useSectionObserver.tsx
  service/src/pages/MainPage.tsx
  service/src/pages/WinngResultPage.tsx
  service/src/pages/WinningResultPage.tsx
  service/src/router.tsx
  service/src/types/Authorization/request.ts
  service/src/types/Authorization/type.ts
  service/src/types/apiType.ts
  service/src/types/lottery/type.ts
  service/src/types/main/carInfoType.ts
  service/src/types/main/type.ts
  service/src/types/quizLounge/type.ts
  service/src/utils/formatDate.ts
Labels: FE, Feat

#155 [Fix] 수정된 선착순 API 연동 및 오류 수정
  service/src/apis/quizLounge/api.ts
  service/src/components/MainPage/CarInfoSection/CarInfoSection.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/DrawInfoContainer.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventIntroductionSection/FcfsInfoContainer.tsx
  service/src/components/MainPage/FcfsSection/ButtonContainer.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/components/common/Badge/Badge.tsx
  service/src/hooks/MainPage/useCountdownTimer.tsx
  service/src/pages/WinningResultPage.tsx
  service/src/types/main/type.ts
Labels: FE, Feat, Fix

#156 [Feat] 성능 개선
  service/index.html
  service/package.json
  service/public/comments.json
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/hooks/MainPage/useFetchAnimationData.tsx
  service/src/index.css
  service/yarn.lock
Labels: FE, Refactor

#157 [Fix] 로그아웃 후 해당페이지에 남아있는 문제
  service/src/components/ErrorPage/ErrorBoundaryPage.tsx
  service/src/components/common/Header/Header.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/pages/QuizLoungePage.tsx
Labels: FE, Service, Fix

#161 [Fix] 댓글 버튼 비활성화 오류 수정
  service/src/components/CommentsLounge/CommentButtonContainer.tsx
  service/src/components/CommentsLounge/CommentsContainer.tsx
Labels: FE, Bug, Fix

#164 [Feat] OG 태그 생성
  service/index.html
Labels: FE, Feat

#167 [Fix] 복권 페이지 수정 & 에러 페이지 리팩토링
  admin/src/apis/main/query.ts
  admin/src/components/common/List/List.tsx
  admin/src/components/section/EventManagement.tsx
  admin/src/components/section/WinnerManagement.tsx
  admin/src/pages/EventManagementPage.tsx
  admin/src/types/eventDataType.ts
  service/src/components/ErrorPage/ErrorBoundaryPage.tsx
  service/src/components/ErrorPage/ErrorPage.tsx
  service/src/components/ErrorPage/NotEventPeriodPage.tsx
  service/src/components/ErrorPage/NotFoundPage.tsx
  service/src/components/ErrorPage/UnauthorizedPage.tsx
  service/src/components/Loading/Loading.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Header/Header.tsx
  service/src/pages/LotteryLounge.tsx
Labels: FE, Refactor, Service, Fix

#172 [Feat] 선착순 마지막 이벤트 이후 처리
  service/public/svg/hyundai_logo.svg
  service/public/svg/hyundai_logo_white.svg
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/FcfsSection/ButtonContainer.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/common/Footer/Footer.tsx
  service/src/components/common/Header/Header.tsx
  service/src/hooks/MainPage/useCountdownTimer.tsx
  service/src/pages/MainPage.tsx
  service/src/types/main/type.ts
Labels: FE, Feat

#174 [Hotfix] 기대평 오류 수정
  service/src/components/CommentsLounge/CommentsContainer.tsx
Labels: Feat, Bug, Fix

#175 [Fix] 복권 이벤트 시간에 따른 버튼 비활성화
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/pages/MainPage.tsx
  service/src/types/main/type.ts
Labels: FE, Service, Fix

#178 [Hotfix] 전화번호 인증 받도록 변경
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
Labels: FE, Service

#181 [Feat] Url 공유 시 토스트 알람 뜨게 구현
  service/package.json
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Toast/Toast.tsx
  service/vite.config.ts
  service/yarn.lock
Labels: FE, Feat

#183 [Fix] 복권 기회 남아있을 시 다시 긁을 수 있게 수정
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/common/Button/Button.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/utils/confettiCrafter.ts
Labels: FE, Bug, Fix

#187 [Fix] 어드민 로그인 실패 시 메인으로 넘어가는 오류 수정
  admin/src/pages/LoginPage.tsx
Labels: Feat, Bug, Fix

#189 [Fix] 로그인 모달 유효성 검증 추가
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Input/Input.tsx
  service/src/constants/error.ts
Labels: FE, Service, Fix

#190 배포
  admin/src/pages/LoginPage.tsx
  service/package.json
  service/src/App.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/LotteryLounge/Modal/LoseModal.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/Input/Input.tsx
  service/src/components/common/Toast/Toast.tsx
  service/src/constants/error.ts
  service/src/pages/CommentsLoungePage.tsx
  service/src/pages/LotteryLounge.tsx
  service/src/utils/confettiCrafter.ts
  service/vite.config.ts
  service/yarn.lock
Labels: FE, Feat

#192 [Hotfix] 전화번호 인증 query 변경
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
Labels: FE

#193 8월 23일 배포
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
Labels: FE

#195 [Hotfix] 튜토리얼 사이트 Blocker 삭제
  service/src/pages/QuizLoungePage.tsx
Labels: FE, Fix

#196 [Fix] 어드민 이벤트 관리 수정
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/hooks/useFcFsRequest.tsx
  admin/src/hooks/useRaffleRequest.tsx
  admin/src/pages/EventManagementPage.tsx
Labels: FE, Admin, Fix

#198 [Feat] 웹 사이트 성능 개선
  service/index.html
  service/package.json
  service/public/robots.txt
  service/public/sitemap.xml
  service/scripts/generate-sitemap.cjs
  service/scripts/generate-sitemap.ts
  service/src/components/LotteryLounge/Attendance.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/DrawInfoContainer.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventIntroductionSection/FcfsInfoContainer.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/QuizLounge/QuizFooter.tsx
  service/src/components/QuizLounge/TutorialResultModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/CarDetail/CarDetail.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Footer/Footer.tsx
  service/src/components/common/Modal/EventModal/EventModal.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/components/common/Modal/Modal.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/pages/WinningResultPage.tsx
  service/yarn.lock
Labels: FE, Feat

#199 [Feat] admin, service 배포
  admin/src/components/EventManagement/FCFSModal.tsx
  admin/src/components/EventManagement/RaffleModal.tsx
  admin/src/hooks/useFcFsRequest.tsx
  admin/src/hooks/useRaffleRequest.tsx
  admin/src/pages/EventManagementPage.tsx
  service/index.html
  service/package.json
  service/public/robots.txt
  service/public/sitemap.xml
  service/scripts/generate-sitemap.cjs
  service/scripts/generate-sitemap.ts
  service/src/components/LotteryLounge/Attendance.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/DrawInfoContainer.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventIntroductionSection/FcfsInfoContainer.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/MainPage/FcfsSection/FcfsSection.tsx
  service/src/components/MainPage/RendingSection.tsx
  service/src/components/QuizLounge/QuizFooter.tsx
  service/src/components/QuizLounge/TutorialResultModal.tsx
  service/src/components/common/Button/Button.tsx
  service/src/components/common/CarDetail/CarDetail.tsx
  service/src/components/common/Footer/EventInfoFooter.tsx
  service/src/components/common/Footer/Footer.tsx
  service/src/components/common/Modal/EventModal/EventModal.tsx
  service/src/components/common/Modal/ExitModal/ExitModal.tsx
  service/src/components/common/Modal/Modal.tsx
  service/src/components/common/Tooltip/Tooltip.tsx
  service/src/pages/WinningResultPage.tsx
  service/yarn.lock
Labels: FE, Feat

#201 [Hotfix] 경고 아이콘 추가
  admin/public/svg/경고.svg
Labels: FE, Fix

#202 [Feat] 어드민 오류 수정 후 배포
  admin/public/svg/경고.svg
Labels: FE, Feat

#204 [Fix] 로그인 시 새로고침 막음
  service/src/components/MainPage/CarInfoSection/Carousel.css
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/constants/animation.ts
Labels: FE, Fix

#206 [Fix] 이미지 캐러셀 더 자연스럽게 수정
  service/src/components/MainPage/CarInfoSection/Carousel.css
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/constants/animation.ts
Labels: FE, Fix

#207 [Feat] 로그인 시 새로고침 방지, 이미지 캐러셀 애니메이션 추가 배포
  service/src/components/MainPage/CarInfoSection/Carousel.css
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/constants/animation.ts
Labels: FE, Feat

#208 [Fix] admin favicon, title 변경
  admin/index.html
Labels: FE, Feat

#209 [Hotfix] 어드민 오류 수정
  admin/index.html
Labels: FE, Bug

#211 [Refactor] 리팩토링 및 성능 저하 문제 해결
  admin/index.html
  admin/public/svg/favicon.ico
  admin/src/types/eventDataType.ts
  service/index.html
  service/public/svg/favicon.ico
  service/src/apis/login/api.ts
  service/src/components/LotteryLounge/Attendance.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/hooks/LotteryLounge/useCanvasDrawing.tsx
  service/src/hooks/MainPage/useLoginLogic.tsx
  service/src/hooks/common/useApiError.tsx
  service/src/hooks/common/useFetch.ts
  service/src/hooks/useLoginModalDispatchContext.ts
  service/src/hooks/useLoginModalStateContext.ts
  service/src/pages/LotteryLounge.tsx
  service/src/pages/ShareHandlerPage.tsx
  service/src/router.tsx
  service/src/store/context/loginModalContext.tsx
  service/src/store/context/useEventDateContext.tsx
  service/src/store/provider/EventDateProvider.tsx
  service/src/store/reducer/loginModalReducer.tsx
  service/src/store/reducer/modalReducer.tsx
  service/src/store/types/loginModalTypes.ts
  service/src/types/Authorization/type.ts
  service/src/types/apiType.ts
  service/src/types/comment/type.ts
  service/src/utils/checkDrawPeriod.ts
Labels: FE, Refactor, Fix

#212 [Feat] 리팩토링 후 배포
  README.md
  admin/index.html
  admin/public/svg/favicon.ico
  admin/src/types/eventDataType.ts
  service/index.html
  service/public/svg/favicon.ico
  service/src/apis/login/api.ts
  service/src/components/LotteryLounge/Attendance.tsx
  service/src/components/LotteryLounge/LotteryCanvas.tsx
  service/src/components/MainPage/DrawSection/DrawSection.tsx
  service/src/components/MainPage/EventIntroductionSection/EventIntroductionSection.tsx
  service/src/components/MainPage/EventSection/LoginModal/LoginModal.tsx
  service/src/components/QuizLounge/QuizContainer.tsx
  service/src/hooks/LotteryLounge/useCanvasDrawing.tsx
  service/src/hooks/MainPage/useLoginLogic.tsx
  service/src/hooks/common/useApiError.tsx
  service/src/hooks/common/useFetch.ts
  service/src/hooks/useLoginModalDispatchContext.ts
  service/src/hooks/useLoginModalStateContext.ts
  service/src/pages/LotteryLounge.tsx
  service/src/pages/ShareHandlerPage.tsx
  service/src/router.tsx
  service/src/store/context/loginModalContext.tsx
  service/src/store/context/useEventDateContext.tsx
  service/src/store/provider/EventDateProvider.tsx
  service/src/store/reducer/loginModalReducer.tsx
  service/src/store/reducer/modalReducer.tsx
  service/src/store/types/loginModalTypes.ts
  service/src/types/Authorization/type.ts
  service/src/types/apiType.ts
  service/src/types/comment/type.ts
  service/src/utils/checkDrawPeriod.ts
Labels: FE, Feat

#214 [Hotfix] 이벤트 기간 아닐때 보여주는 페이지 이동하지 않는 문제 수정
  service/src/constants/lib/constants.ts
  service/src/pages/LotteryLounge.tsx
  service/src/router.tsx
Labels: FE, Bug, Fix

#215 [Hotfix] 이벤트 기간아닐때 보여주는 페이지 문제 수정
  service/src/constants/lib/constants.ts
  service/src/pages/LotteryLounge.tsx
  service/src/router.tsx
Labels: FE, Bug, Fix

#217 [Fix] 이미지 캐러셀 오류 수정
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/hooks/MainPage/useVideoMetaData.tsx
  service/src/utils/main/getTransformClass.ts
  service/src/utils/main/getVisibleItems.ts
Labels: FE, Bug, Fix

#218 [Fix] 이미지 캐러셀 오류 수정 후 배포
  README.md
  service/src/components/MainPage/CarInfoSection/Carousel.tsx
  service/src/components/MainPage/CarInfoSection/VideoPlayer.tsx
  service/src/hooks/MainPage/useVideoMetaData.tsx
  service/src/utils/main/getTransformClass.ts
  service/src/utils/main/getVisibleItems.ts
Labels: FE, Bug, Fix

#220 [Hotfix] 이벤트 기간아닐시 페이지 안보이는 문제 해결
  service/src/pages/MainPage.tsx
Labels: FE, Fix

#221 [Hotfix] 이벤트 페이지 접속 안되는 문제 해결
  service/src/pages/MainPage.tsx
Labels: FE, Fix
